[submodule "lib/GLEW"]
	path = lib/GLEW
	url = https://github.com/Perlmint/glew-cmake
[submodule "lib/Krypton"]
	path = lib/Krypton
	url = https://github.com/Shadax-stack/Krypton
[submodule "lib/libconsole"]
	path = lib/libconsole
	url = https://github.com/Shadax-stack/libconsole
[submodule "lib/GLM"]
	path = lib/GLM
	url = https://github.com/g-truc/glm
